.cursor {
    width: 20px;
    height: 20px;
    border: 1px dotted white;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    pointer-events: none; // Click through cursor.
    transform: translate(-50%, -50%); // Move the cursor with scroll
}

.chat {
    z-index: 1;
}

canvas{
    z-index: -1;
}